body {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 92%
  );
}

.container {
  font-family: "Satoshi", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4vh;
}

h1 {
  font-weight: bold;
  font-size: 10vh;
  font-family: "Boxing", sans-serif;
  text-align: center;
}

input,
button {
  padding: 1.8vw;
  font-size: 2vh;
  border: 0.2vw solid black;
  border-radius: 12vw;
  text-align: center;
  outline: none;
  box-shadow: 1vw 2vh 0 black;
  transition: ease-in-out 0.25s;
  text-decoration: none;
}

input:hover {
  background-color: rgba(252, 70, 107, 1);
  color: white;
  box-shadow: 2vw 3vh 0 black;
}
input::placeholder {
  color: black;
}
input:hover::placeholder {
  color: white;
}

button:hover {
  background-color: rgba(63, 94, 251, 1);
  color: white;
  box-shadow: 2vw 3vh 0 black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
